In [1]:
#Question 1
10 + 15

25

In [2]:
#Question 2
print("Hello World")

Hello World

In [3]:
#Question 3
45 - 34

11

In [4]:
#Question 4
8 * 2

16

In [5]:
#Question 5
print("Rahul's age is", 45)

Rahul's age is 45

In [6]:
#Question 6
print("I have", 10, "mangoes and", 12, "bananas")

I have 10 mangoes and 12 bananas

In [7]:
#Question 7
emp_number = 1233
print("Employee Number:", emp_number)
emp_salary = 16745.50
emp_name = "Jerry Squaris"
print("Employee Salary and Name:", emp_salary, emp_name)
emp_salary = 23450.34
print("Updated Employee Salary:", emp_salary)

Employee Number: 1233
Employee Salary and Name: 16745.5 Jerry Squaris
Updated Employee Salary: 23450.34

In [8]:
#Question 8
customer_id = 101
type(customer_id)
customer_name = "John"
type(customer_name)
bill_amount = 675.45
type(bill_amount )
x = 5.3 + 0.9j
type(x)
print(customer_id, customer_name, bill_amount)
print(x.real)
print(x.imag + 3)
Flag = True
type(Flag)
y = "False"

101 John 675.45
5.3
3.9

In [23]:
#Question 9
bill_id = 101
customer_id = 1001
customer_name = "Rahul"
if_minor = False
bill_amount = 2000.50
print("Bill ID   Customer ID   Name    Minor   Total Payment")
print(bill_id,"        ",customer_id,"     ",customer_name,"  ","No","    ",bill_amount)

Bill ID   Customer ID   Name    Minor   Total Payment
101          1001       Rahul    No      2000.5

In [28]:
#Question 10
num1 = int(input("Enter first number= "))
num2 = int(input("Enter second number= "))
num1+=4
num2+=6
print("Sum of new values= ",num1+num2)

Enter first number= 2
Enter second number= 5
Sum of new values=  17

In [29]:
#Question 11
a=int(4)
b=int(5)
c=a
d=b
a , b = b , a
print("Before Swap=> ",c," ",d)
print("After Swap=> ",a," ",b)

Before Swap=>  4   5
After Swap=>  5   4

In [31]:
#Question 12
a = int(input("Enter marks of first subject= "))
b = int(input("Enter marks of second subject= "))
c = int(input("Enter marks of third subject= "))
avg = (a+b+c)/3
print("Average before changing marks= ",avg)
a+=2
print("Average after changing marks= ",avg)

Enter marks of first subject= 89
Enter marks of second subject= 75
Enter marks of third subject= 68
Average before changing marks=  77.33333333333333
Average after changing marks=  77.33333333333333

In [32]:
#Question 13
radius = int(input("Enter the radius of circle= "))
area= 3.14*radius*radius
perimeter = 2*3.14*radius
print("Area of the cicle=",area)
print("Perimeter of the circle= ",perimeter)

Enter the radius of circle= 7
Area of the cicle= 153.86
Perimeter of the circle=  43.96

In [35]:
#Question 14
hours_per_week = int(40)
hourly_pay_rate = int(400)
weeks = int(4)
salary = hours_per_week*hourly_pay_rate*weeks
print("Salary of the employee is= ",salary)

Salary of the employee is=  64000

In [36]:
#Question 15- a
for i in range(50,81):
    if i%2 == 0:
        print(i)

50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80

In [42]:
#Question 15- b
n = int(input("Enter a natural number= "))
sum =int(n*(n+1)/2)
print("Sum of first",n,"natural numbers=",sum)

Enter a natural number= 10
Sum of first 10 natural numbers= 55

In [ ]:
#Question 15- c
n = int(input("Enter a number="))
flag = 0
for i in range(2,n):
    if n%i == 0:
        print("Given number is not prime")
        flag=1
        break
if flag==0:
    print("Given number is prime")

In [12]:
#Question 15- d
n = int(input("Enter a number= "))
a = 0
b = 1
l=[0,1]
for i in range (2,n):
    cur=a+b
    a=b
    b=cur
    l.append(cur)
print("Fibbonacci series till",n,"is=")
for i in l: 
    print(i)

Enter a number= 7
Fibbonacci series till 7 is=
0
1
1
2
3
5
8