In [14]:
#Question 1
n=int(input("Number of students= "))
t = []
for i in range(0,n):
    tup = [item for item in input("Enter Biodata= ").split()]
    t.append(tup)
t=tuple(t)
sorted(t)

Number of students= 5
Enter Biodata= Tom 19 80
Enter Biodata= John 20 90
Enter Biodata= Jony 17 91
Enter Biodata= Jony 17 93
Enter Biodata= Json 21 85

[['John', '20', '90'],
 ['Jony', '17', '91'],
 ['Jony', '17', '93'],
 ['Json', '21', '85'],
 ['Tom', '19', '80']]

In [1]:
#Question 2
s = input("Enter The sentnce= ")
s = s.split()         
str2 = []
  
# loop till string values present in list str
for i in s:             
     if i not in str2:
        str2.append(i)       
for i in range(0, len(str2)):  
        print('Frequency of', str2[i], 'is :', s.count(str2[i]))

Enter The sentnce= Train Bus Bus Train Taxi Aeroplane Taxi Bus
Frequency of Train is : 2
Frequency of Bus is : 3
Frequency of Taxi is : 2
Frequency of Aeroplane is : 1

In [11]:
#Question 3
student = { 'UE183001': 'Avish', 'UE183002': 'Bhavya', 'UE183003': 'Tanya','UE188006': 'Adarsh'}
marks = [('UE183001', 'CS', 94 ), ('UE183002', 'CS', 64 ),
         ('UE183001', 'RV', 94), ('UE183002', 'RV',74),
         ('UE183003', 'CS', 64), ('UE188006', 'CS', 100),
         ('UE183003', 'RV', 84), ('UE188006', 'RV', 100),]
print("Name   Total Marks")
for i in student:
    total_marks=0
    for j in marks:
        if j[0]==i:
            total_marks+=j[2]
    print(student[i],"   ",total_marks)

Name   Total Marks
Avish     188
Bhavya     138
Tanya     148
Adarsh     200

In [15]:
#Question 4
index = {'JAN':1,'FEB':2,'MAR':3,'APR':4,'MAY':5,'JUN':6,'JUL':7,'AUG':8,'SEP':9,'OCT':10,'NOV':11,'DEC':12}
def converter(date):
    date = date.split('-')
    date[2]=int(date[2])
    if(date[2]>21):
        date[2]+=1900
    else:
        date[2]+=20
    return (int(date[2]),index[date[1]],int(date[0]))
date=input("Enter the date= ")
print(converter(date))

Enter the date= 8-MAR-85
(1985, 3, 8)

In [25]:
#Question 5
d = {}
for i in range(1,7):
    for j in range(1,7):
        if str(i+j) in d:
            d[str(i+j)].append((i,j))
        else:
            d[str(i+j)]=[(i,j)]
            

for i in d:
    print(i,d[i])

2 [(1, 1)]
3 [(1, 2), (2, 1)]
4 [(1, 3), (2, 2), (3, 1)]
5 [(1, 4), (2, 3), (3, 2), (4, 1)]
6 [(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)]
7 [(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)]
8 [(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)]
9 [(3, 6), (4, 5), (5, 4), (6, 3)]
10 [(4, 6), (5, 5), (6, 4)]
11 [(5, 6), (6, 5)]
12 [(6, 6)]